<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование заказа</title>
</head>
<body>
  <h3>Редактирование заказа</h3>
  <div th:each="element : ${order}">
      <h3 th:text="'Заказ № ' + ${element.getNumber()}"></h3>
      <p th:text="'Наименование: ' + ${element.getProduct().getTitle()}"></p>
      <p th:text="'Количество: ' + ${element.getCount()}"></p>
      <p th:text="'Стоимость заказа: ' + ${element.getPrice()}"></p>
      <p th:text="'Дата заказа: ' + ${#temporals.format(element.getDateTime(), 'dd-MMM-yyyy')}"></p>
      <p th:text="'Статус заказа: ' + ${element.getOrderStatus()}"></p>
      <label for="orderStatus">Изменить статус заказа: </label>
      <form th:method="post" th:action="@{/admin/order/edit/{id}(id=${element.getId()})}" th:object="${order}">
          <select name="orderStatus" th:field="*{orderStatus}" id="orderStatus">
              <div th:each="element : ${orderStatus}">
                  <option th:text="${element}" th:value="${element.ordinal()}"></option>
              </div>
          </select>
          <hr>
          <input type="submit" value="Изменить статус заказа">
      </form>
  </div>
</body>
</html>