<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
    <h3>Корзина</h3>
    <div th:each="element : ${cartProduct}">
        <img th:src="'/img/' + ${element.imageList[0].getFileName()}" width="300px">
        <a th:href="@{/product/info/{id}(id=${element.getId()})}" th:text="${element.getTitle()}"></a>
        <p th:text="'Цена: ' + ${element.getPrice}"/>
        <a th:href="@{/cart/delete/{id}(id=${element.getId()})}">Удалить из корзины</a>
        <hr>
    </div>
    <h3 th:text="'Итоговая стоимость товаров: ' + ${priceCart}"></h3>
    <a href="/order/create">Оформить заказ</a>
</body>
</html>